@model IEnumerable<MvcBike.Models.Bike>

@{
    ViewData["Title"] = "Hidden";
}

<h1>Hidden Bikes</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaunchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.Model
            </td>
            <td>
                @item.LaunchDate
            </td>
            <td>
                @item.Company
            </td>
            <td>
                @item.Price
            </td>
            <td>
                @item.CC
            </td>
            <td>
                @item.Rating
            </td>
        </tr>
}
    </tbody>
</table>
<form asp-controller="Bikes" asp-action="ReturnHiddenBikes" method="post">
    <input type="submit" value="Delete Hidden Bikes" class="btn btn-danger" />
</form>
